/*-----------header-------------*/
.container navbar{
	text-align:center;
	float:none;
}



a.active, li a:hover{
	background-color:darkcyan;
	text-decoration: none;

}

.btn-lg{
	padding: 50px;
}

ul{
	list-style: none;
	text-decoration: none;
	}


ul li{
	list-style: none;
	text-decoration: none;
	float:none;
	text-align:center;
	font-size: 18px;
}


.nav-item ul{
	letter-spacing: 6px;
}



.bgimg{
	margin: 0;
	background: url(../images/puni1.jpeg) no-repeat center center fixed;
	background-size: 100% 100%;
	background-position: center;
	overflow: hidden;
	width: 100%;
	height:660px;
	background-attachment: fixed;
	

}

.headerset{
	padding-top: 180px;
	box-sizing: border-box;
}


.headerset h2{
    font-size: 28px;
    color: darkcyan;
}

.headerset h1{
	font-size: 48px;
	font-weight: bold;
	color: darkcyan;
}


/*-----About me-----*/
#poja{
	padding-top: 80px;
	padding-bottom: 50px;
	color: black;
	float: center;
	font-size: 18px;
	background-color:white;
	font-family: sans-serif;
}

#poja h2{
	font-size: 40px;
	color: darkcyan;
	font-weight: bold;
}

.btn {
	margin-top: 20px;
	margin-bottom: 30px;
	size:60px;
	
}

.poja-content{
	padding-bottom:20px;
	padding-top: 20px;
	text-align: justify;

}

.img-responsive{
	vertical-align: vertical;
	width: 350px;
	height: 100%;
	border-radius: 100%;
    float: center;
    padding-top: 30px;
    margin-left:;
}

.row{
	margin-left: 40px;
	float: left;
}

.col h2{
	float: left;
	margin-left:100px ;
	}

/*------------skills------------*/
#skills{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	margin: auto auto 50px auto;
}

.skill-text{
	width: 400px;
}

.skill-img{
	width: 600px;
	height: 600px;
	padding-top: 100px;

}

.skill-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.skill-heading h2{
	color:darkcyan;
	font-size: 5rem;
	margin: 0px;
	font-weight: 700;
	padding-top: 100px;


}

.s-box-container{
	margin-top:30px;
}

.skill-box{
	display: flex;
	margin: 25px 0px;
}

.s-box-icon{
	margin-right: 14px;
}

.s-box-icon i{
	width: 40px;
	height: 40px;
	border-radius:50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	font-size: 25px;

}

.s-box-text strong{
	color:#1c3548;
	margin: 0px;
	font-size: 20px;
	font-weight: 600;
}

.s-box-text p{
	color: #747474;
	font-size: 16px;
	padding-top: 20px;
}

.fa-html5{
	color: red;
}

.fa-css3-alt{
	color: #416cdf;
}

.fa-js-square{
	color:#f98231;
}
/*-------aboutus------*/

#tara{
  padding-top: 50px;
	padding-bottom: 50px;
	color: black;
	float: center;
	font-size: 18px;
	background-color:white;
	font-family: sans-serif;
}

#tara h2{
	font-size: 40px;
	color: darkcyan;
	font-weight: bold;

}

.btn-s12 {
	padding-top: 20px;
	padding-bottom: 30px;
	size: 60px;
	
}


.about-content{
	padding-bottom:20px;
	padding-top: 20px;
	text-align: justify;


}

.skills-bar p{
	margin-bottom: 6px;
	font-weight: 600;
	margin-left: 30px;
}

.progress-bar{
	border-radius: 15px;
	float: right;

}

.progress{
	border-radius: 5px !important;
	margin-bottom: 5px;
	margin-left: 30px;

}

.skills-bar{

	font-size: 15px;
	float: right;
}


/*------------portfolio --------------*/
.portfolio{
	height: 100%;
	width: 100%;
	padding: 100px 0px 50px;
}

.portfolio h1{
	font-size: 50px;
	font-weight: bold;
	color: darkcyan;
}

.card{
	margin-top: 40px;
}

.card-title{
	font-size: 25px;
	color: darkcyan;
	font-weight: bold;
}

.card-text p{
	font-size: 16px;
}

/*---------services-------------*/
#services{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/web1.webp);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}



#services h1{
   text-align: center;
   color: #efefef !important;
   padding-bottom: 50px;
   padding-top: 50px;
}

#services h1::after {
   content: '';
   background: #efefef;
   display: block;
   height: 3px; 
   width: 170px;
   margin: 10px auto 1px;

}

#services h3{
	font-size: 30px;

}

.icon{
	font-size: 30px;
	margin:10px auto;
	padding: 10px;
	height: 60px;
	width: 60px;
	border:1px solid #fff;
	border-radius: 30%;
}



#services p{
    font-size: 18px;
    margin-top: 10px;
    font-family: sans-serif;
    text-align: center;
}

.services .col-md-3:hover{
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}



/*------get in touch-----*/
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	background: url(../images/ui.webp);
	background-size: cover;
}

.contact .content{
	max-width: 800px;
	text-align: center;
}

.contact .content h2{
	font-size: 40px;
	font-weight:bold;
	color: darkcyan;
	padding-bottom: 30px;
}

.contact .content p{
	color:;
	font-size: 18px;
	font-family: sans-serif;
}

.text p{
	color: black;
}

.text h3{
	color: darkcyan;
}

.container{
	width:100%;
    justify-content: center;
}

.container .contactInfo{
	width: 30%;
	display: flex;
	flex-direction: column;
}

.container .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}

.container .contactInfo .box .icon{
	min-width: 20%;
	height: 20%;
	background: darkcyan;
	text-align: center;
	align-items: center;
	border-radius: 50%;
	font-size: 25px;
	color: white;
}

.container .contactInfo .box .text{
	display: flex;
	margin-left:20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	

}
.container .contactInfo .box h3{
   font-weight:bold;
   color: darkcyan;
   font-family: sans-serif;
}

.contactForm{
	width: 40%;
	padding:40px;
	background: #fff; 
	
}

.contactForm h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px 0px;
	font-size: 16px;
	margin: 10px 0;
	border:none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
	width: 100px;
	background:#00bcd4;
	color: #fff;
	border:none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

@media (max-width: 991px)
{
  .contact{
  	padding: 50px;
  }
  .container{
    flex-direction: column;
  }
  .container .contactInfo{
  	margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm{
  	width: 100%;

  }

}

/*---footer---*/
#footer{
  background: #333;
  color: #fff;
  padding: 12px;
}

.fa-heart-o{
	margin: 3px;
	color: red;
}